extends layout

block content
    article#jade.container
        h1
            a(href= link, target="_blank")= title
        p= description

    article.container
        h2 Estructura Básica de Jade
        p Este archivo HTML es generado con el motor de plantillas Jade
        p
            |Para concatenar contenido
            |en varias lineas
            |se usa el pipe '|'
    
        include logo

    
        p.
            Si te gusta la forma en que Jade genera código HTML
            puedes leer la documentacion del #[a(href="http://jade-lang.com/api", target="_black") API],
            la referencia del #[a(href="http://jade-lang.com/reference", target="_black") Lenguaje]
            y de la #[a(href="http://jade-lang.com/command-line", target="_black") Línea de comandos] 
        
        br
        button#presioname.boton Presioname
        script.
                //alert('JavaScript ejecutado desde jade')
                document.querySelector('#presioname').onclick = () => {
                    alert('He presionado el boton')
                }
        -var nombre = 'Jade'
        p Hola #{nombre}

        -var fecha = new Date()
        -var hora = fecha.getHours()

        if (hora < 12)
            p La hora #{hora} es antes del meridiano (AM)
        else
            p La hora #{hora} es posterior del meridiano (PM)
        
        -var estaciones = ['Primavera', 'Verano', 'Otoño', 'Invierno']

        h2 Estaciones del Año
        ol
            each estacion in estaciones
                li #{estacion}
        
    
    
    //- Los mixins son funciones en Jade
    mixin mesesEstacionesMexico(estacion, meses)
        div.item
            h3 #{estacion}
            ul
                each mes in meses
                    li #{mes}

    article.container   
        h2 Estaciones del año en México
        +mesesEstacionesMexico(estaciones[0], ["Abril","Mayo","Junio"])
        +mesesEstacionesMexico(estaciones[1], ["Julio","Agosto","Septiembre"])
        +mesesEstacionesMexico(estaciones[2], ["Octubre","Noviembre","Diciembre"])
        +mesesEstacionesMexico(estaciones[3], ["Enero","Febrero","Marzo"])
    //- h1 Hola mundo desde Jade
    //- h2 Estaciones del año en Mexico
    //- ul
    //-     li Primavera
    //-         ol
    //-             li Abril
    //-             li Mayo
    //-             li Junio
    //-     li Verano
    //-         ol
    //-             li Julio
    //-             li Agosto
    //-             li Septiembre
    //-     li Otoño
    //-         ol
    //-             li Octubre
    //-             li Noviembre
    //-             li Diciembre
    //-     li Invierno
    //-         ol
    //-             li Enero
    //-             li Febrero
    //-             li Marzo
    //- doctype html
    //- html(lang="en")
    //-     head    
    //-         title= title
    //-         script(type='text/javascript').
    //-             if(foo){
    //-                 bar(1 + 5)
    //-             }
    //-     body
    //-         h1 Jade - node template engine
    //-         #container.col
    //-             if youAreUsingJade
    //-                 p You are amazing
    //-             else
    //-                 p Get on it!
    //-             p.
    //-                 Jade is a terse and simple
    //-                 templating language with a
    //-                 strong focus on performance
    //-                 and powerful features.